<%= form_for @picture, :html => {:multipart => true} do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
    <label>Picture:</label>
    <%= f.file_field :title %>
    <%= f.hidden_field :title_cache %>
  </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 