<% content_for :title, 'Upload Picture' %>

<h1>Upload Picture</h1>

<%= form_with model: @picture,
              url: pictures_path,
              local: true,
              html: { multipart: true, class: 'upload-form' } do |f| %>

  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Select Image to Upload" %><br>
    <%= f.file_field :title, required: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Upload Picture', class: 'btn btn-primary' %>
    <%= link_to 'Back to All Pictures', pictures_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
